body{
    color: rgb(87, 44, 0);
    background-color:#def3f3f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serifs';
    font-size:large;
    list-style-type: none;
}

img {
    width: 1000px;
    height:400px;
    border-radius: 0%;

}
.center {
    text-align:center;
}
p{
    font-size:xx-large;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 25px;
    padding: 50px;
}
